
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#timer {
	font-size: 4em;
}

#racers-list {
	counter-reset: position-race-counter;
	a:before {
		content: counter(position-race-counter);
		counter-increment: position-race-counter;
		font-weight: bold;
	}
}
